h1{
color: rgb(82, 82, 82);
font-family:'Courier New', Courier, monospace;
height: 100%;
width: 45%;
margin: 1% auto;
border: 1px solid rgb(128, 128, 128);
padding: 10px;
background-color: rgb(238, 238, 238);
}

h2{
font-family: 'Courier New', Courier, monospace;
font-size: 18px;
text-align: center;
width: 10%;
height: 100%;
margin: 0 auto;
border: 1px solid rgb(128, 128, 128);
background-color: rgb(238, 238, 238);
color:rgb(82, 82, 82)
}
    
p {
color: rgb(82, 82, 82);
font-family:'Courier New', Courier, monospace;
text-align: center;
}

li{
color: rgb(82, 82, 82);
font-family:'Courier New', Courier, monospace;
}

.main-header {
display: flex;
justify-content: center;
}

.about {
display: flex;
justify-content: center;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }