h1{
    color: rgb(82, 82, 82);
    font-family:'Courier New', Courier, monospace;
    border: 1px solid rgb(128, 128, 128);
    border-radius:10px;
    background-color: rgb(247, 247, 247);

}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    width: 10%;
    height: 100%;
    margin: 50px auto;
    border-radius:10px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(247, 247, 247);
    color:rgb(82, 82, 82)
}
    
li{
    color: rgb(82, 82, 82);
    font-family:'Courier New', Courier, monospace;
}

.img{
    float: right;
    border: 1px solid rgb(128, 128, 128);
    border-radius:10px;
    margin: 0 0 15px 20px;
}

.img2{
    float: left;
    border: 1px solid rgb(128, 128, 128);
    border-radius:10px;
    margin: 0 0 15px 20px;
}

/* .intro,.about,.experience{
    color: rgb(82, 82, 82);
    font-family:'Courier New', Courier, monospace;
    border: 1px solid rgb(128, 128, 128);
    border-radius:10px;
    background-color: rgb(247, 247, 247);
    margin: 5px 10%;
} */

body{
    background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80");
    background-attachment: fixed;
    background-repeat: repeat-y repeat-x;
    background-color: rgb(208, 225, 236);
}


#intro, #about, #experience{
    margin-top: 65px;
    color: rgb(82, 82, 82);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
    border-radius:10px;
    background-color: rgb(247, 247, 247);
    margin: 5% 10%;
    list-style-type: none;
}

#main-header{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
}

#title{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px 0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    }

    a:link {
        color: rgb(100, 100, 100);
        background-color: transparent;
      }
      a:visited {
        color: rgb(64, 164, 197);
        background-color: transparent;
      }
      a:hover {
        color: rgb(67, 67, 206);
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: rgb(241, 241, 241);
        background-color: transparent;
        text-decoration: underline;
      }


#foot{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}

*{
    margin: 1% 0;
    padding: 0;
    }

    @media screen and (min-width: 400px) {
        background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80");
        background-attachment: fixed;
        background-repeat: repeat-y repeat-x;
        background-color: rgb(208, 225, 236);
        }
      
      @media screen and (min-width: 800px) {
        background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80");
        background-attachment: fixed;
        background-repeat: repeat-y repeat-x;
        background-color: rgb(208, 225, 236);
        }